@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-main-blue: #086dba;
  --color-main-yellow: #fcb30b;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  height: 100%;
  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
